{% extends 'base.html' %}
{% block content %}

<section class="weather-form">
    <h2>What's the weather like today?</h2>

    <form action="/results" method="GET">
        <fieldset>
            <legend>Please enter your information:</legend>

            <p>
                <label>
                    Please enter your city: <br>
                    <input type="text" name="users_city">
                </label>
            </p>

            <p>
                Please choose your desired units: <br>
                <label>
                    <input type="radio" name="requested_units" value="metric">
                    Celsius
                </label><br>
                <label>
                    <input type="radio" name="requested_units" value="imperial">
                    Fahrenheit
                </label><br>
                <label>
                    <input type="radio" name="requested_units" value="kelvin">
                    Kelvin
                </label>
            </p>

            <p>
                <input type="submit" value="Submit">
            </p>

        </fieldset>
    </form>
</section>

{% endblock content %}
